* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #050e2d;
  font-family: Arial, sans-serif;
}
header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1b2142;
  transition: 0.8s;
}
header #textlogo {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
}
header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin: 8px;
}
header ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5.8px;
  font-size: 0.9em;
}
header ul li a:hover {
  background-color: #1aeeef;
  color: #050e2d;
  box-shadow: 0 0 10px peru;
  transition: 2.5s;
}
header .inputsection #searchbox {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
}
header .inputsection #searchbox i {
  font-size: 1.4em;
  margin: 5px;
  color: #222;
}
header .inputsection #searchbox input {
  outline: none;
  border: none;
  font-size: 1em;
  color: #222;
  padding: 3px;
}

.banner {
  width: 100%;
  min-height: 100vh;
  padding: 0px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .container .content {
  width: 50%;
  height: 100%;
}
.banner .container .content h2 {
  font-size: 2em;
  color: #fff;
  letter-spacing: 1px;
}
.banner .container .content p {
  font-size: 1em;
  color: #dbd9d9;
  letter-spacing: 1px;
}
#imagelogo {
  height: 50px;
  width: 50px;
  border-radius: 30px;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .container .content a {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid #1aeeef;
  text-decoration: none;
  font-weight: 700;
  border-radius: 7px;
  color: #fff;
  letter-spacing: 1px;
}
.banner .container .content a:hover {
  background: #1aeeef;
  border: none;
  color-scheme: #050e2d;
  transition: 2.5s;
}
#imagebanner {
  width: 100%;
  border-radius: 200px;
  padding: 20px;
  max-width: 490px;
}
.about_section {
  position: relative;
  width: 100%;
  min-height: 75vh;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_section .about_content {
  width: 50%;
  margin: 20px;
}
.about_section h2 {
  font-size: 3em;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.about_section .about_content p {
  max-width: 600px;
  text-align: justify;
  color: #dbd9d9;
}
.about_section .about_content a {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid #1aeeef;
  text-decoration: none;
  font-weight: 700;
  border-radius: 7px;
  color: #fff;
  letter-spacing: 1px;
}
#gameList {
  display: flex;
  color: #fff;
}
.card {
  padding: 10px;
  border: 1px solid rgb(4, 4, 95);
}
#title {
  font-weight: 600;
  font-size: 30px;
  color: #ec8ff5;
}
#gamesdiv {
  display: flex;
  overflow: auto;
  padding: 10px;
}
#gamesdiv::-webkit-scrollbar {
  width: 0;
}
#gamesdiv #gameList {
}
footer {
  padding: 10px 100px;
  background-color: #000b16;
  text-align: center;
}
footer .footerdetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerdetails #textlogo {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
}
footer .footerdetails p {
  color: #dbd9db;
}
footer .footerdetails ul {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerdetails ul li {
  list-style: none;
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1aeeef;
}
footer .footerdetails ul li:hover {
  background: #1aeeef;
  border: none;
  transition: 2.5s;
}
footer .footerdetails ul li a i {
  font-size: 1.5em;
  color: #fff;
}
#contact {
  position: relative;
  min-height: 40vh;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(https://img.freepik.com/free-photo/top-view-blue-monday-concept-composition-with-telephone_23-2149139103.jpg);
  background-size: cover;
}
.contact_content {
  text-align: center;
}
.contact_content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #1d2b5a;
}
.contact_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}
.contact_container .contact_info {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact_container .contact_info .box {
  padding: 10px;
  display: flex;
  align-items: center;
}
.contact_container .contact_info .box .icon {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  font-size: 22px;
  border-radius: 45%;
}

#favourites {
  padding: 5px;
  background: #1aeeef;
  color: #222;
  font-size: 15.5px;
  font-weight: 900;
}
#games {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}
#demo {
  color: white;
}
@media (max-width: 480px) {
  header {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputsection {
      margin-top: 10px;
    }
    .banner {
      flex-direction: column;
      text-align: center;
    }
    .about_section {
      text-align: center;
    }
    #gamesdiv {
      display: flex;
      flex-direction: row;
    }
    .contact_info box {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
